/* LEFT*/
.reveal-l {
  position: relative;
  transform: translateX(-50px);
  opacity: 0;
  transition: 1.5s all ease;
}

.active-l {
  transform: translateX(0);
  opacity: 1;
}

/* RIGHT */
.reveal-r {
  position: relative;
  transform: translateX(50px);
  opacity: 0;
  transition: 1.5s all ease;
}

.active-r {
  transform: translateX(0);
  opacity: 1;
}

/* UP */
.reveal-u {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1.5s all ease;
}

.active-u {
  transform: translateY(0);
  opacity: 1;
}

/* DOWN */
.reveal-d {
  position: relative;
  transform: translateY(-50px);
  opacity: 0;
  transition: 1.5s all ease;
}

.active-d {
  transform: translateY(0);
  opacity: 1;
}

@media (min-width: 425px) {
  /* LEFT*/
  .reveal-l {
    position: relative;
    transform: translateX(-20px);
    opacity: 0;
    transition: 1.5s all ease;
  }

  .active-l {
    transform: translateX(0);
    opacity: 1;
  }

  /* RIGHT */
  .reveal-r {
    position: relative;
    transform: translateX(20px);
    opacity: 0;
    transition: 1.5s all ease;
  }

  .active-r {
    transform: translateX(0);
    opacity: 1;
  }
}
