* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button,
#button {
  border-radius: 0;
  border: 5px solid #69a195;
  font-weight: bolder;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #69a195;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

button:hover,
#button:hover {
  background-color: #69a195;
  color: white;
  border: 5px solid #69a195;
  box-shadow: 0 0 20px #69a195;
}

a {
  text-decoration: none;
}
h1 {
  font-size: 2.5rem;
}

.center-web {
  padding-top: 0%;
  margin: auto;
  max-width: 75%;
  height: auto;
}

/* HEADING */
.heading,
#heading {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: black;
  }

  h5 {
    font-size: 1.5rem;
    color: #69a195;
    line-height: 0%;
  }

  p {
    font-size: 1.5rem;
  }

  span {
    color: #69a195;
  }
}

@media screen and (max-width: 425px) {
  .heading,
  #heading {
    h1 {
      font-size: 1.8rem;
    }

    h5 {
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

/* NAVBAR */
.topnav {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topnav .logo {
  border-radius: 50px;
  filter: lightgrayscale();
  height: 50px;
  width: 50px;
  /* overflow: hidden;
    background-image: url(../img/pro.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 5%;
}

.topnav .nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.topnav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  background: transparent;
  transition: width 0.4s ease, background-color 0.4s ease;
}

.nav-links a:hover::after {
  width: 100%;
  background: #69a195;
}

.nav-links a:hover {
  color: #69a195;
}

.topnav .icon {
  display: none;
}

.scrolled {
  background-color: white !important;
  box-shadow: 0px 0px 20px 5px lightgray;
}
.scrolled .nav-link {
  color: black !important;
}

@media screen and (max-width: 600px) {
  .topnav .nav-links a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    right: 15%;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    background-color: lightgray;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive .nav-links a {
    float: none;
    display: block;
    text-align: center;
  }

  .topnav.responsive .nav-links {
    display: block;
  }

  .topnav.responsive .logo {
    height: 300px;
    width: 50%;
    left: 0;
    border-radius: 0%;
    background-size: cover;
  }

  .topnav.responsive a.active::after {
    width: 100%;
    background: lightgray;
  }
}

/* HERO */
.home {
  height: 80vh;
  background-color: lightgray;
  clip-path: polygon(22.2% 0%, 100% 0%, 100% 99.5%, 24.5% 100%, 31.9% 65%);
  z-index: 1;
}
.hero-image {
  top: 25%;
  background-image: url(../img/shaz.png);
  height: 60vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 8%;
  z-index: 2;
}

@media screen and (max-width: 425px) {
  .home {
    clip-path: none;
  }
  .hero-image {
    height: 50vh;
    top: 37.5%;
  }

  .hero-text {
    top: 20%;
    left: 10%;
    font-size: smaller;
  }
}

/* SECTION COUNTER */
.col-sc {
  float: left;
  padding: 0%;
  height: auto;
}

.row-sc:after {
  content: "";
  display: table;
  clear: both;
}

.row-sc .card-sc {
  border: none;
  padding: 10px;
  border-radius: 0%;
  text-align: center;
  align-items: center;
}

.card-sc i {
  font-size: 50px;
  float: left;
  color: white;
  text-shadow: 0 0 60px rgba(255, 255, 255, 0.5);
}

.icon-bg-sc {
  background-color: #69a195;
  border-radius: 50%;
  padding: 10px;
  height: 75px;
  width: 75px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
}
.card-sc .card-body {
  float: right;
  font-size: larger;
  font-weight: bolder;
}

.card-body p {
  color: #69a195;
}

@media screen and (max-width: 600px) {
  .col-sc {
    width: 100%;
  }

  .row-sc {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .row-sc i,
  h4,
  p {
    font-size: 15 0px;
  }
}

/* ABOUT ME */
.row-about {
  margin: 0 -5px;
}

.row-about:after {
  content: "";
  display: table;
  clear: both;
}

.img-container {
  display: flex;
  height: 60vh;
  background-color: #69a195;
  background-image: url("../img/pro.jpg");
  background-size: cover;
  background-position: center;
}

.table-about {
  width: 100%;
  margin: 0 auto;
}

.table-about td:nth-child(2) {
  font-weight: bolder;
  color: #69a195;
}

.icon-con {
  display: flex;
  justify-content: right;
}

.icon-con i {
  font-size: 50px;
}

.col-about {
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px;
}

.icon-bg {
  width: 50px;
  height: 50px;
  background-color: #69a195;
  color: black;
  border-radius: 50%;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 20px;
}

.col-about h5 {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .col-about {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* SKILL */
.col-skill .card {
  border: none;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 60px #ececec;
}
.card-skill {
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0px;
  font-weight: bolder;
}

.progress-bar {
  display: flex;
  float: left;
  width: 100px;
  height: 100px;
  color: black;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 75%, transparent 80% 100%),
    conic-gradient(#69a195 var(--progress), #ececec 0);
}

.progress-bar::before {
  content: attr(data-progress);
}
/* OUR PROJECT */
.row-pro {
  height: auto;
}

.row-pro,
.row-pro .col-pro {
  padding: 10px;
}

.row-pro:after {
  content: "";
  display: table;
  clear: both;
}

.col-pro {
  float: left;
  width: 25%;
  position: relative;
  border-radius: 0;
}

.col-pro img {
  opacity: 1;
  display: block;
  border-radius: 0;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.overlay-pro {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col-pro:hover .col-pro img {
  opacity: 0.3;
}
.col-pro:hover .overlay-pro {
  opacity: 1;
}

@media screen and (max-width: 426px) {
  .col-pro {
    width: 100%;
  }

  .row-pro,
  .row-pro .col-pro {
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .col-pro {
    width: 50%;
  }
}

/* BLOG */
.row-bl {
  height: auto;
  padding: 100px;
  background-color: white;
}

.row-bl,
.row-bl > .col-bl {
  padding: 10px;
}

.col-bl {
  float: left;
  width: 33.33%;
}

.row-bl:after {
  content: "";
  display: table;
  clear: both;
}

.cont-bl {
  background-color: #69a195;
  padding: 10px;
}

@media (max-width: 768px) {
  .col-bl {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .col-bl {
    width: 100%;
  }
}
/* Feedback */
.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #69a195;
}
.carousel-f {
  padding: 100px;
  width: 70%;
  overflow: hidden;
  position: relative;
}

.cards-f {
  display: flex;
  animation: scroll 30s linear infinite;
  color: black;
  margin: 20px;
}

.card-f {
  flex: 0 0 300px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.card-f p {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
}

.icon-c {
  font-size: 50px;
  font-weight: bolder;
  float: left;
}

.container-f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-f img {
  width: 90px;
  border-radius: 50%;
}

.container-f span {
  font-size: 16px;
  margin-top: 5px;
}

.header-f {
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: black;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-310px * 10)
    ); /* Updated to account for margin */
  }
}

@media (max-width: 425px) {
  .card-f {
    flex: 0 0 100%;
    height: auto;
  }

  .carousel-f {
    overflow-y: auto;
    width: 100%;
  }
}

/* CONTACT */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 0.5px solid #69a195;
  background-color: #69a19550;
  color: black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.con-contact {
  padding: 10px;
}

select option {
  color: black;
}
.col-contact {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row-contact:after {
  content: "";
  display: table;
  clear: both;
}

.label-con {
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .col-contact,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/* FOOTER */
footer {
  background-color: lightgray;
  color: white;
  padding: 10px 0;
}

.footer-row {
  padding: 50px;
}

footer h2 {
  font-size: 30px;
  position: relative;
  left: 10%;
}

footer li,
footer a {
  font-size: 20px;
  list-style-type: none;
  color: lightgray;
  list-style-position: outside;
}

footer hr {
  border: 2px solid #69a195;
  width: 100%;
}

ol {
  list-style-type: none;
}

footer a:hover {
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 7px 8px;
  font-size: 20px;
  font-weight: bolder;
}

footer a:hover {
  color: #69a195;
}
.icon-container {
  margin-top: 10px;
  text-align: center;
  word-spacing: 10px;
  margin-top: 50px;
}

.icon-container i {
  color: #69a195;
  font-size: 50px;
}

.icon-container i:hover {
  color: white;
  text-shadow: 0 0 20px white, 0 0 30px white;
}

.footer-below {
  background-color: #69a195;
  padding: 0;
  text-align: center;
  color: lightgray;
  bottom: 0%;
}

@media (max-width: 767px) {
  footer h2 {
    font-size: 20px;
  }
}

@media (min-width: 450px) {
  .footer {
    text-align: center;
  }
}
